.header {
    background-color: #2f9599;
    height: 70px;
    color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 26px;
    font-weight: bold;
}
.logo-label {
    cursor: pointer;
}