.outer-home {
    display: flex;
    flex-direction: column;
    height:100%;
}
.home-btn:hover {
    background: #f582ae;
    color: #001858;
}
.tile {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 150px;
    justify-content: flex-start;
    align-items: center;
}
.home-btn{
    width: 150px;
    height: 150px;
    margin: 20px;
    color: #001858;
    border-radius: 5%;
    background: transparent;
    border: solid 3px #001858;
    outline: 0;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.trendy-title {
    font-style: italic;
    color: white;
}