.outer-home {
    display: flex;
    flex-direction: column;
    height:100%;
}
/* .inner-home {
    display: flex;
    justify-content: center;
    height: 20%;
} */
.home-btn:hover {
    background: white;
    color:#19a79a;
}
.tile {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 150px;
    justify-content: flex-start;
    align-items: center;
}
.home-btn{
    width: 150px;
    height: 150px;
    margin: 20px;
    color: white;
    border-radius: 50%;
    background: transparent;
    border: solid 1px white;
    outline: 0;
    cursor: pointer;
}
.trendy-title {
    font-style: italic;
    color: white;
}