<div class="loading-indicator" *ngIf="dataLoading">
  <mat-progress-spinner
  class="example-margin"
  [color]="color"
  [mode]="mode">
</mat-progress-spinner>
</div>

<button mat-raised-button color="primary" (click)="exportAsExcel()">Export as Excel</button>
<div class="order-table">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

      
      <table mat-table [dataSource]="dataSource" #TABLE id="all-orders-table" class="mat-elevation-z8">

        <!-- Challan No. Column -->
        <ng-container matColumnDef="challanNumber">
          <th mat-header-cell *matHeaderCellDef> Challan Number </th>
          <td mat-cell *matCellDef="let element"> {{element.challanNumber}} </td>
        </ng-container>

        <!-- Gr No. Column -->
        <ng-container matColumnDef="grNo">
          <th mat-header-cell *matHeaderCellDef> Gr Number </th>
          <td mat-cell *matCellDef="let element"> {{element.grNo}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="companyData">
          <th mat-header-cell *matHeaderCellDef> Customer Name </th>
          <td mat-cell *matCellDef="let element"> {{element.companyData}} </td>
        </ng-container>

        <!-- Bill Date Column -->
        <ng-container matColumnDef="billDate">
          <th mat-header-cell *matHeaderCellDef> Bill Date </th>
          <td mat-cell *matCellDef="let element"> {{element.billDate}} </td>
        </ng-container>
      
            
        <!-- Net Amount Column -->
        <ng-container matColumnDef="netAmount">
          <th mat-header-cell *matHeaderCellDef> Net Payable Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.netAmount}} </td>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="open">
          <th mat-header-cell *matHeaderCellDef> Open </th>
          <td mat-cell *matCellDef="let element"> <a class="open-btn" href="/order/{{element.challanNumber}}/open">Open</a></td>
        </ng-container>

        <!-- <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element"> <a href="/order/{{element.challanNumber}}/edit" >Edit </a></td>
        </ng-container> -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element"><button class="delete-btn" (click)= "deleteOrder(element.challanNumber)">Delete</button>  </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      