
.conf-dialog-title {
  color: #19a79a;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
.conf-dialog-message{
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.54);
}
.conf-dialog-btns{
  display: flex;
  justify-content: flex-end;
}
.conf-dialog-btn {
  min-width: 92px;
  padding: 0 16px;
}
.conf-dialog-btn:first-child {
  margin-right: 11px;
}
