<div class='add-item-box'>
<div class='add-item-label'>Add Item</div>
<form [formGroup]="addItemForm" (ngSubmit)="onAddItem()">
        <div class="form-group">
            <mat-form-field class= "input-fields">
                    <input matInput id="itemName" placeholder="Item Name" formControlName='itemName' class="form-control"/>        
                    <mat-error *ngIf="this.addItemForm.get('itemName').hasError('required')">Please enter the Item name!</mat-error>
            </mat-form-field>
            <!-- <mat-form-field class= "input-fields"> -->
                <!-- </mat-form-field> -->
            </div>
            <div class='item-total-box'>
                <mat-label>Add Item to Total Qty?</mat-label>
                <mat-radio-group formControlName="addToTotal">
                    <mat-radio-button class="total-value" value=true>Yes</mat-radio-button>
                    <mat-radio-button class="total-value" value=false>No</mat-radio-button>
                </mat-radio-group>
            </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!addItemForm.valid">Submit</button>
    </form>    
</div>
