.add-item-box {
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: calc(100% - 40px);
}
.input-fields {
    width: calc(100vw - 100px);
}
.add-item-label {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-decoration: underline;
}