<div class="loading-indicator" *ngIf="dataLoading">
    <mat-progress-spinner
    class="example-margin"
        [color]="color"
        [mode]="mode">
    </mat-progress-spinner>
</div>
<div class="challan-page">
        <div class="om-div"><img width="18" height="18" src="../assets/Om_symbol.png"/></div>
        <div class="challan-title">
                <div>ESTIMATE</div>
            </div>
            <!-- <div class="logo-box"><img width="140" height="60" src="../assets/trendy.PNG"/></div> -->
            <div class="first-line-box">
                    <div class="challan-number-box">
                            <div class="challan-label" contenteditable="true" >Challan #</div>
                            <div id="challan-input" class="challan-input" contenteditable="true" [innerText]="challanNo"></div>
                            <div class="challan-label" contenteditable="true" >Bill #</div>
                            <div id="gst-input" class="challan-input" contenteditable="true" [innerText]="gstBillNumber"></div>
                    </div>
                    <mat-form-field>
                        <input id="date-input" matInput [matDatepicker]="picker1" placeholder="Date" [formControl]="date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                      
            </div>
            <div class="second-line-box">
                    <div class="contact-box">
                        <mat-form-field appearance="fill">
                            <mat-label>Select a Customer</mat-label>
                            <mat-select id="company-input" [(value)]="companyId">
                              <mat-option *ngFor ="let customer of customerList" value={{customer._id}}>{{customer?.custName + ' - '+ customer?.city}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div> 
            </div>
            <table class='billing-table' id="order-table">
                <tr class="bill-table-header">
                    <th id="item-header">Item</th>
                    <th id="size-header">Size</th>
                    <th id="rate-header">Rate</th>
                    <th id="qty-header">Quantity</th>
                    <th id="price-header">Price</th>
                    <th></th>
                </tr>
                <tr *ngFor="let row of tableItems">
                    <td class="first-row">
                        <select>
                            <option *ngFor="let item of items" [value]="item.id" [selected]="row.item.indexOf(item.itemName) != -1?true:false">{{item.itemName}}</option>
                        </select>
                        <div class="editable-first-row" contenteditable="true">{{this.getRowItem(row.item)}}</div>
                    </td>
                    <td class="row-style size" contenteditable="true">{{row.size}}</td>
                    <td ><input (change)="callCalc($event)" class="row-style rate" [value]="row.rate" type="number"/></td>    
                    <td ><input (change)="callCalc($event)" class="row-style qty" [value]="row.qty"/></td>    
                    <td (keyup)="callCalc($event)" class="row-style price" >{{getPrice(row.price)}}</td>
                </tr>
            <!-- <tr>
                <td class="first-row">
                    <select >
                            <option *ngFor="let item of items" [value]="item.id">{{item.itemName}}</option>
                    </select>         
                </td>         
                    <td class="row-style size" contenteditable="true"></td>
                    <td ><input (change)="callCalc($event)" class="row-style rate" type="number"/></td>    
                    <td ><input (change)="callCalc($event)" class="row-style qty" type="number"/></td>    
                    <td (keyup)="callCalc($event)" class="row-style price" ></td>
            </tr> -->
            </table>
            <button (click)="addRow()" class="add-row-btn">Add Row</button>
            
            <div class='add-total-box'>
                    <div class="add-total-row-box-1">
                        <div class="first_low_row">
                            <div><textarea id="gr-input" contenteditable="true" rows="2" cols = "50" placeholder="Enter GR number here">{{grNo}}</textarea></div>
                            <div class="tt_first_row">                                
                                <div class="add-total-row-one">Total</div>  
                                <div contenteditable="true" id = "bill-total" class="add-total-row-two">{{billingTotal}}</div>
                            </div>
                        </div>
                    </div> 
                    <div class="add-total-row-box">
                        <div contenteditable="true" class="add-total-row-one">Discount %</div>  
                        <div contenteditable="true" id = "disc" class="add-total-row-two" (keyup)="callDisc($event)">{{discPercent}}</div>
                    </div> 
                    <div class="add-total-row-box">
                        <div contenteditable="true" id="emb-label" class="add-total-row-one">{{embText}}</div>  
                        <textarea id="emb-input" class="emb-input" contenteditable="true" rows="2" cols = "20" placeholder="Enter embr. charge breakup here">{{embBreakUp}}</textarea>
                        <td ><input (change)="callEmbr($event)" id = "embr" class="add-total-row-two" min="0" [value] = "embCharge" type="number"/></td> 
                    </div> 
                    <div class="add-total-row-box">
                        <div contenteditable="true" class="add-total-row-one">GST/Taxes</div>  
                        <td ><input (change)="callGST($event)" id = "gst" class="add-total-row-two" min="0" [value] = "gstRate" type="number"/></td> 
                        <!-- <div contenteditable="true" id = "gst" class="add-total-row-two" (keyup)="callGST($event)">0</div> -->
                    </div> 
                    <div class="add-total-row-box">
                        <div contenteditable="true" class="add-total-row-one">Freight Charges</div>  
                        <td ><input (change)="callTransportationCharge($event)" id = "tr-charge" class="add-total-row-two" min="0" [value] = "transCharge" type="number"/></td> 

                        <!-- <div contenteditable="true" id = "tr-charge" class="add-total-row-two" (keyup)="callTransportationCharge($event)">0</div> -->
                    </div> 
                    <div class="add-total-row-box">
                        <div class="add-total-row-one">Net Payable</div>  
                        <div contenteditable="true" id = "net-total" class="add-total-row-two">{{netAmount}}</div>
                    </div> 
                    <div class="add-total-row-box">
                        <div class="add-total-row-one">Total Qty</div>
                        <div contenteditable="true" id="net-qty" class="add-total-row-two">{{totalQty}}</div>
                    </div>
                </div>
                <button class="save-order-btn" (click)="editOrder()">Edit</button>
    </div>