/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .loading-indicator {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
}
.cash-order-table {
  overflow-y: auto;
  height: calc(100vh - 70px);
  }
.open-btn {
  text-decoration: none;
}
.delete-btn {
  background: none;
  border: 0;
  color: blue;
  font-size: 13px;
  cursor: pointer;
}